@charset "UTF-8";
*{
    box-sizing: border-box;
}
/*h1 신청 리스트 제목부분*/
section h1
{
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/*게시판 총갯수 부분*/
section .viewApply_total{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*테이블 th 부분(
신청글 번호	번호	제목	매칭글 작성자	아이디	신청일	수락여부	거주지	상세보기)*/
section .matchList_table thead tr{
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F4F6F9;
    text-align: center;
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
}
section .matchList_table th{
     width: 11%;
     text-align: center;
     font-size: 16px;
     font-weight: 600;
}
.matchList_table tbody tr
{
    font-size: 14px;
    text-align: center;
    background-color: var(--white);
}
.matchList_table tbody tr:hover
{
	background-color: #E0EAF9;
	color: var(--gray);
}
/*테이블 내용 부분*/
section .matchList_table tbody tr{
    height: 50px;
}
section .matchList_table tbody tr td{
    width: 11%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*상세보기 버튼*/
section .viewApplyBtn
{
	background-color: #548BA1;
	color:white;
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    width: 70px;
    height: 35px;
}
.board_nondate
{
    font-size: 20px;
    font-family: var(--font-family-noto);
    font-weight: 600;
    text-align: center;
}