@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
section .container #detailboard
{
    padding-bottom: 50px;
}
section .container #buttonform
{
	margin-bottom: 0px;
}
#selectForm{
	margin-block-end: 0;
}

/***********************************신청, 수정, 삭제, 목록 버튼****************************/


.detailboard_btn {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(179, 179, 179);
    text-align: right;
}



/*카테고리, 작성자, 작성일, 조회수 부분*/
.detailboard_info{
	display: flex;
    justify-content: left;
    background-color: #F4F6F9;
    padding: 10px;
}
.detailboard_info .detailboard_author, .detailboard_info .detailboard_insertDate{
	display: flex;
    margin-right: 10px;
}
.detailboard_author p, .detailboard_insertDate p {
    margin-right: 8px;
}
.detailboard_author div{
  	width: 70px;
}

/*제목*/
section .container #detailboard .detailboard_content .detailboard_subject
{
    text-align: left;
    font-family: var(--font-family-noto);
    font-size: 2.1rem;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 5px;
}

/*내용*/
.matchTime p {
    font-size: 26px;
    font-weight: 400;
}
.matchSubject h1{
    color: #3534A5;
    font-size: 32px;
    font-weight: 700;
}
.matchLocal span{
	font-size: 16px;
}
.matchLocal{
	margin-bottom: 10px;
}
.ApplyAndMax{
	display: inline-flex;
    margin-top: 10px;
}
.maxApply span, .matchApply span, .matchWait span{
	font-size: 12px;
    color: #999;
}
.maxApply p, .matchApply p, .matchWait p{
	color: #3534A5;
    font-size: 22px;
    font-weight: 700;
}
.matchArea {
	padding: 50px 0;
    margin: 0 20px;
    border-bottom: 1px solid #ddd;
}
.ApplyAndMax{
	display: inline-flex;
    margin-top: 10px;
    width: 15%;
}
.matchContent{
	padding: 50px 0;
    margin: 0 20px;
    border-bottom: 1px solid #ddd;
}
.matchContent_sub{
	margin-bottom: 10px;
}
.d-block{
	display: block !important;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.btn-primary {
  color: #ffffff;
  background-color: #1b68ff;
  border-color: #1b68ff; }
  .btn-primary:hover {
    color: #ffffff;
    background-color: #0052f4;
    border-color: #004ee7; }
  .btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #0052f4;
    border-color: #004ee7;
    box-shadow: 0 0 0 0.2rem rgba(61, 127, 255, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #1b68ff;
    border-color: #1b68ff; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #004ee7;
    border-color: #004ada; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(61, 127, 255, 0.5); }

.btn-secondary {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d; }
  .btn-secondary:hover {
    color: #ffffff;
    background-color: #5a6268;
    border-color: #545b62; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #ffffff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5); }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #ffffff;
    background-color: #545b62;
    border-color: #4e555b; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5); }
