:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #f4623a;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #f4623a;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-kalam: 'Kalam', cursive;
    --font-family-noto: 'Noto Sans KR', sans-serif;
    --font-family-nanum: 'Nanum Gothic', sans-serif;
  }

*
{
    margin: 0px;
    padding: 0px;
}
@media(max-width:576px){
	body{
		width: 100%;
	}
}
/*헤더부분*/
#header
{
    position: relative;
}

.header_pic
{
    display: flex;
    width: calc(100% - 0px);
    min-width: 980px;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.header_pic{
		display: block;
		min-width: 320px;
	}	
}
.header_pic div
{
    width: 100%;
    min-height: 808px;
    height: auto;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.header_pic div
	{
	    width: 100%;
	    height: auto;
	    min-height: auto;
	}	
}
.header_pic img
{
    width: 100%;
}
.header_pic .header_pic1
{
    width: 116%;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.header_pic .header_pic1, .header_pic3{
		display: none;
	}	
}
.header_text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: var(--white);
    text-align: center;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.header_text{
		position: relative;
	    top: 50%;
	    left: 50%;
	    transform:translate(-50%, -285%);
	    color: var(--white);
	    text-align: center;
	    width: fit-content;
	}	
}
.header_text .main_text
{
    font-size: 157px;
    letter-spacing: 0.5px;
    font-family: var(--font-family-monospace);
}
/*모바일 화면일때*/
@media(max-width:576px){
	.header_text .main_text{
		font-size: 65px;
    	letter-spacing: 0.5px;
    	font-family: var(--font-family-monospace);
	}
}

section{
	padding-top:0px;
}
/*모바일 화면일때*/
@media(max-width:576px){
	section
	{
	    padding-top:0px;
	    padding-bottom: 600px;
	}	
}
/*gallery부분*/
.gallery
{
    height: 500px;
    margin: 0px auto;
    position: relative;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.gallery
	{
	    height: 0px;
	    margin: 0px auto;
	    position: relative;
	}	
}
.gallery_subject
{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 15.5rem;
    margin-bottom: 6.5rem;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.gallery_subject
	{
	    text-align: center;
	    font-size: 50px;
	    font-weight: 700;
	    margin-top: 10.5rem;
	    margin-bottom: 3.5rem;
	}	
}
.gallery_background
{
    position: relative;
    display: flex;
}
.gallery_background1
{

    width:50%;
    height:50%;
    background-color: transparent;
}
.gallery_background2
{
    
    width: 51%;
    height: 600px;
    background-color: #4169e1;

}
.gallery img
{
    width: 95%;
    opacity: 0.95;
}

.gallery img:hover
{
    transition: all ease 0.3s;
    transform: scale(1.1);
    opacity: 1;
}
.gallery .gallery_first
{
    position: absolute;
    top: -561px;
    display: flex;
    padding: 30px;
    min-width: 980px;
    height: auto;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.gallery .gallery_first
	{
	    position: absolute;
	    top: -576px;
	    left: 5%;
	    display: block;
	    padding: 0px;
	    min-width: auto;
    	height: auto;
	}	
}
.gallery .gallery_first .first_1,.first_2
{
    margin: 0px 20px;
}
@media(max-width:576px){
	.gallery .gallery_first .first_1,.first_2
	{
	    margin: 20px 20px;
	}	
}
.gallery .gallery_second
{
    position: absolute;
    top: 180px;
    display: flex;
    padding: 33px;
    width: 100%;
    min-height: 980x;
    height: auto;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.gallery .gallery_second{
		position: absolute;
	    top: -121px;
	    display: flex;
	    padding: 33px;
	    width: 100%;
	    min-height: 980x;
	    height: auto;
	}
}
.gallery .gallery_second .second_1, .second_2
{
    margin: 0px 15px;
}
.Method
{
    height: 1800px;
    padding-top: 655px;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.Method
	{
	    height: 1800px;
    	padding-top: 0px;
	}	
}
.method_subject
{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 200px;
    margin-bottom: 100px;
}
.method_background
{
    position: relative;
    display: flex;
    width: 90%;
    height: 500px;
    margin-bottom: 200px;
}
.method_background1
{

    width:70%;
    height:400px;
    background-color: var(--dark);
}
.method_background2
{
    width: 39%;
    height: 50%;
    background-color: transparent;
}
.Method_info
{
    display: flex;
    position: relative;
    top: -365px;
    left: 48%;
    transform:translate(-50%, -50%);
    width: 1470px;
    height: auto;
    margin: 0px auto;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.Method_info
	{
	    display: block;
	    position: relative;
	    top: 415px;
	    left: 50%;
	    transform:translate(-50%, -50%);
	    width: auto;
	    height: auto;
	    margin: 0px auto;
	}	
}

.Method_info .info
{
    margin: 0px 35px;
    width: 30%;
    text-align: center;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.Method_info .info
	{
	    margin: 0px;
	    width: 100%;
	    text-align: center;
	}	
}
.Method_info .info_pic1,.info_pic2,.info_pic3
{
    width: 99%;
    height: auto;
    min-height: 383px;
}
.Method_info .info img:hover
{
    transition: all ease 0.3s;
    transform: scale(1.1);
}
.Method_info .info_pic4
{
    width: 80%;
    height: auto;
    min-height: 383px;
}
.Method_info .info .info_subject
{
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
}
.Method_info .info .info_text
{
    font-family: var(--font-family-noto);
    letter-spacing: 0.5px;
}
/*모바일 화면일때*/
@media(max-width:576px){
	.Method_info .info .info_text
	{
	    font-family: var(--font-family-noto);
    	letter-spacing: 0.5px;
    	margin-bottom: 30px;
	}	
}
